[submodule "tools/SecuPress-Backdoor-User"]
	path = tools/SecuPress-Backdoor-User
	url = https://github.com/JulioPotier/SecuPress-Backdoor-User.git
[submodule "tools/BashUtilities"]
	path = tools/BashUtilities
	url = https://github.com/Darklg/BashUtilities.git
[submodule "tools/wpuwooimportexport"]
	path = tools/wpuwooimportexport
	url = https://github.com/WordPressUtilities/wpuwooimportexport.git
